<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .footer {
            font-family: sans-serif;
            height: 200px;
            width: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center; 
            background-color: orange;
            color: #333;
            text-shadow: 1px 1px 1px #ccc;
        }
        </style>
        
    <div class="footer">
        <p>This is my footer</p>
    </div>
</body>
</html>