<style>
.nav-bar {
    font-family: sans-serif;
    height: 100px;
    width: 100%;
    gap: 20px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-decoration: none !important;
    background-color: orange;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
	text-shadow: 1px 1px 1px #ccc;
}
</style>
<div class="nav-bar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
</div>

<!-- <div id="main-menu">
    <ul class="nav-bar">
         <li class="nav-button-home"><a href="/index.ejs">Home</a></li>
         <li class="nav-button-services"><a href="/about.ejs">about</a></li>
         <li class="nav-button-products"><a href="/contact">Contact</a></li>
         <li class="nav-button-home"><a href="/signup.ejs">Sign Up</a></li>
         <li class="nav-button-home"><a href="/login.ejs">Log In</a></li>
    </ul>
</div> -->