<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        form {
          display: grid;
          gap: 20px;
        }
        input {
          height: 50px;
        }
        button {
          height: 50px;
        }
        .error {
          color: red;
        }
      </style>
      <%- include('./components/navbar.ejs') %>
      <h1>Create post</h1>
      
      <form method="post" action="/posts">
        <input type="text" name="title" id="" placeholder="title" />
        <input type="text" name="sub" id="" placeholder="sub title" />
        <textarea name="body" id="" cols="30" placeholder="some article message" rows="10"></textarea>
        <button>Post</button>
      </form>
      <%- include('./components/footer.ejs') %>
    
</body>
</html>